body{
    background-color: black;
    margin: 0;
  }
  
  h5{
    color: brown;
  }
  
  #snappy{
    margin-top: 20px;
    background-color: #FFFECA;
    position: relative; 
    display: block;
  }